/* Fondo general */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Contenedor del logo */
.image-container {
    text-align: center;
    margin-top: 50px;
}

.image-container img {
    width: 120px;
    height: auto;
}

/* Contenedor del formulario */
.register-container {
    background-color: #fff;
    margin: 50px auto;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Título del formulario */
.formulario h2 {
    color: #333;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo de etiquetas */
label {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

/* Campos de entrada */
input[type="text"], input[type="password"], input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* Campo de correo electrónico */
input[type="email"] {
    border: 2px solid #0067b1;
    background-color: #f0f8ff;
}

input[type="email"]:focus {
    border-color: #004a85;
    background-color: #e6f4ff;
    outline: none;
}

/* Botón */
button {
    padding: 10px;
    background-color: #0067b1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

button:hover {
    background-color: #00508f;
}

/* Mensajes */
.error-message {
    color: red;
    font-size: 0.9em;
    text-align: center;
}

.success-message {
    color: green;
    font-size: 0.9em;
    text-align: center;
}
