body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    width: 150px;
    height: auto;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.formulario h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.formulario p {
    color: #666;
    margin-bottom: 20px;
    font-size: 16px;
}

.formulario a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 16px;
}

.formulario a:hover {
    background-color: #0056b3;
}

.success-message {
    color: #28a745;
    margin-top: 20px;
    font-size: 16px;
}